/* sarting */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.upperbody{
    background-color: black;
    height: 100vh;
    margin-top: 0%;
    padding-top: 5%;
}
/* icons logo */
.icon{
    padding: 5rem;
color: white;

}
.logos{
    height: 4.5rem;
    width: 5rem;
}

.img{
    height: 25rem;
    width: 25rem;
    display: flex;
    
 
}
/* heading */
.heading{
    font-size: 2rem;
    font-weight: 900;
color: white;
}
span{
    color: yellow;
}
/* navigation bars */
.nav{
    display: flex;
    justify-content: space-between;
    
}
.navit{
    width: 40%;
    overflow: hidden;
    
}
.navit>a{
     text-decoration: none;
    padding: 3%;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
 
}
.navit>a:hover{
    color: yellow;
}
/* about section */
.about{
    padding: 2rem ;
    background-color: rgb(134, 134, 6);
}
.ab{
    color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 4rem  ;
}
.ab>p{
    width: 60%;
    font-size: 1.3rem;

   
}
/* skills and details */
.table{
    background-color: black;
    color: white;
    height: 55vh;
    padding: 3.5rem ;
    
 
}

.th{
    font-size: 1.5rem;
    text-align:left;

}
td{
    font-size: 1.2rem;
}
table span{
    font-weight: 900;
    
}
/* contact form */
.co{
  margin: 0.1rem;
   background-color:  rgb(134, 134, 6);
    line-height: 5.8rem;
    
}
input , textarea{
    height: 2rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 2%;
    
}
textarea{
    border-radius: 20px ;  
}
.upc{
    width: 30%;
}
.ss{
    width: 60%;
}

.co>.btn>a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

